TOKEN = BOT TOKEN
IP = IP, BEZ PORTU
DB_USER = USER
DB_PASSWORD = HESLO
DB_NAME = USER
SPREADSHEET_ID=xxx
GOOGLE_CLIENT_EMAIL=xxxx
GOOGLE_PRIVATE_KEY=xxxx
ALLOWED_HIRE_USERS=ID; ID; ID
GAMESERVER_PORT=PORT, NEJČASTĚJI 30120
GAMESERVER_RESOURCE_NAME=script_name
GAMESERVER_API_KEY=klíč
API_PORT=PORT, NEJČASTĚJI 3000
